.sidenav {
  width: 100%;
  position: fixed;
  padding: 0 20px 0 20px;
}

.font1 {
  font-family: "Titan One", cursive;
}

.nightflix {
  font-weight: 100;
}

.li {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 22px;
}

p,
a {
  text-decoration: none;
}

.videocontainer {
  padding: 0 0 0 19rem;
  display: flex;
}

.videos {
  margin: auto;
}
